.myd-tabs-content {
	display: none;
}

.myd-tabs-content--active {
	display: block;
}

.owm-pro-tag {
    background: red;
    border-radius: 4px;
    padding: 2px 5px;
    color: #fff;
    font-size: 12px;
	text-decoration: none;
	transition: all 0.3s ease;
	white-space: nowrap;
}

.owm-pro-tag:hover {
	background: #ff0000;
	color: #fff;
	opacity: 0.8;
}

p.omw-description {
	font-size: 13px !important;
	color: #7d7d7d !important;
}

.owm-offer-banner__image {
	width: 100%;
	height: auto;
	max-width: 900px;
    object-fit: contain;
	border-radius: 16px;
}

.owm-offer-banner__link {
	display: block;
	margin-block-start: 20px;
}
